<% layout("/layouts/boilerplate") %>

<!-- <div id="google_translate_element"></div> -->
<!-- navbar -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annadata Schemes</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="output.css">
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body class="bg-gray-200">
    <div class="flex flex-col">

      <div class="relative h-80">
        <img src="/image.jpg" alt="Background Image" class="absolute inset-0 w-full h-full object-cover">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <h1 class="text-5xl text-white font-bold absolute inset-0 flex items-center justify-center">Schemes</h1>
    </div>
</div>


<main class="flex-grow bg-gray-100 p-8">
    <div class="mt-8 mb-8">
        <div class="grid grid-cols-2 gap-8">
            <div class="bg-white shadow-lg rounded-lg p-6 transform hover:scale-105 transition-all duration-300">
                <h2 class="text-lg font-bold mb-4">Government Schemes</h2>
                <div class="text-gray-600 schemes">
                    <!-- Schemes will be inserted here -->
                </div>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 transform hover:scale-105 transition-all duration-300">
                <h2 class="text-lg font-bold mb-4">NGOs</h2>
                <div class="text-gray-600 ngos">
                    <!-- NGOs will be inserted here -->
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="bg-gray-900 text-white py-4 px-6 text-center">
    <p>&copy; 2024 Annadata. All rights reserved.</p>
</footer>
<script src="/schemes.js"></script>

</body>

