@tailwind base;
@tailwind components;
@tailwind utilities;

.transform.hover\:scale-105 {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transform.hover\:scale-105:hover {
  transform: scale(1.05);
}
